main section.products-index,
main section.categories-show {

  .products {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: space-around;

    .product {
      // flex:      1;
      max-width: 260px;
      // so that footer within can be positioned absolutely
      position:  relative;

      border:        1px solid #ccc;
      border-radius: 5px;
      padding:       15px;
      padding-bottom: 80px;
      margin-top:    20px;
      // margin:        10px;

      header img {
        max-width: 100%;
        max-height: 140px;
        margin: auto;
        display: block;
      }

      footer {
        position: absolute;
        bottom: 0;
        left:   0;
        background-color: #EEE;
        padding: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 100%;
        opacity: 0.3;
        transition: all 0.3s;
      }

      aside.price {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background-color: #eee;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 20px;
        font-size: 0.8em;
      }

      aside.soldout {
        position: absolute;
        height: 7%;
        width: 23%;
        top: 0;
        left: 0;
        font-size: 0.8em;
        background: #d06d39;
        opacity: 0.9;
        color: #ffffff;
        padding: 7px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 4px;
        box-shadow: 1px 2px 11px 0px #0e0e0e;

        p {
          display: flex;
          justify-content: center;
        }
      }

      aside.almost-gone {
        position: absolute;
        height: 7%;
        width: 23%;
        top: 0;
        left: 0;
        font-size: 0.7em;
        background: #eeeeee;
        opacity: 0.9;
        color: #ff4242;
        padding: 7px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 4px;
        box-shadow: 1px 2px 4px 0px #e22222;

        p {
          display: flex;
          justify-content: center;
          margin-top: -4px;
        }
      }


      &:hover {

        border-color: #999;

        footer {
          opacity: 1.0;
        }
      }

    }
  }

}

main section.products-show {

  .product-detail {
    img.main-img {
      max-width: 100%;
    }
  }
  .line {
    border-bottom: 3px solid black;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 76%;
    opacity: 0.1;
        }
  .reviews-box {
    display: list-item;
    margin-left: 30px

    dt {
      display:flex;
      justify-content: center;
    }

    button {
      background-color: indianred;
      border-radius: 15px;
      margin-left: 114px;
      margin-bottom: 10px;
      margin-top: 5px;
      padding: 5px;
      a {
        color: floralwhite;
      }
    }
    .dl-horizontal {
      dt {
      text-align: left;
      margin-left: 120px;
      width: auto;
      opacity: 0.6;
      }

    }
  }
}


